es5.dtd

<!ELEMENT TEI (header+,facsimile?,text+)> 

<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT text (#PCDATA|seg)*>

<!ELEMENT seg (#PCDATA)>


<!ATTLIST header type CDATA #FIXED "intestazione" >
<!ATTLIST header lang NMTOKEN #IMPLIED>
<!ATTLIST facsimile source CDATA #REQUIRED >
<!ATTLIST facsimile ref IDREFS #IMPLIED >
<!ATTLIST text id ID #REQUIRED>
<!ATTLIST text type CDATA #IMPLIED>